[submodule "vendor/aby-rhi"]
	path = vendor/aby-rhi
	url = https://github.com/xexaaron/aby-rhi
[submodule "vendor/aby-win"]
	path = vendor/aby-win
	url = https://github.com/xexaaron/aby-win
[submodule "vendor/glm"]
	path = vendor/glm
	url = https://github.com/g-truc/glm
[submodule "vendor/freetype"]
	path = vendor/freetype
	url = https://github.com/freetype/freetype
