[submodule "vendor/aby-rhi"]
	path = vendor/aby-rhi
	url = https://github.com/xexaaron/aby-rhi
[submodule "vendor/aby-win"]
	path = vendor/aby-win
	url = https://github.com/xexaaron/aby-win
[submodule "vendor/glm"]
	path = vendor/glm
	url = https://github.com/g-truc/glm
[submodule "vendor/freetype"]
	path = vendor/freetype
	url = https://github.com/freetype/freetype
[submodule "vendor/argparse"]
	path = vendor/argparse
	url = https://github.com/p-ranav/argparse
[submodule "vendor/lxqt-build-tools"]
	path = vendor/lxqt-build-tools
	url = https://github.com/lxqt/lxqt-build-tools/
[submodule "vendor/qtermwidget"]
	path = vendor/qtermwidget
	url = https://github.com/lxqt/qtermwidget
[submodule "vendor/QAnsiTextEdit"]
	path = vendor/QAnsiTextEdit
	url = https://github.com/epasveer/QAnsiTextEdit/
